@font-face {
    font-family: "Metropolis-SemiBold";
    src: url("/fonts/Metropolis-SemiBold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis-RegularItalic";
    src: url("fonts/Metropolis-RegularItalic.otf"); 
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Metropolis-Regular";
    src: url("fonts/Metropolis-Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis-Medium";
    src: url("fonts/Metropolis-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis-Bold";
    src: url("fonts/Metropolis-Bold.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis-Extralight";
    src: url("fonts/Metropolis-ExtraLight.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis-Light";
    src: url("fonts/Metropolis-Light.otf");
    font-weight: 400;
    font-style: normal;
}

:root {
    box-sizing: border-box;
    font-family: "Metropolis-Regular";
   
    
  
    
}




.landing {
    min-height: 500px;
    background:
    linear-gradient(to bottom, rgb(7, 78, 154, .9), rgb(0, 0, 0, .8)),
    url("images/header_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
    
    
    
    

}

.landing_content, .reviews, .listings {
    max-width: 1100px;
    margin: auto;
    padding: 1%;
}

.nav {
    
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
    
}

.nav_left {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

[src="images/nav_logo.png"] {
    
    height: 50px;
    width: auto;
    padding-right: 10px;
    
    
}

.nav_left h2 {
    color: white;
    font-family: "Metropolis-SemiBold";
    font-size: 1.25rem;
    white-space: nowrap;
    

}

.nav_links ul {
    color: white;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
    gap: 8px;
    font-size: 1.1rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    
}

.nav_links ul li {
    border-right: 1px solid white;
    padding-right: 8px;
    white-space: nowrap;
    cursor: pointer;
    
}

.nav_links ul li:last-child {
    border-right: none;
    
}

.nav_links ul li:hover {
    color: rgb(212, 212, 212);
}

.grow {
    transition: transform .2s;
    margin-left: auto;
    margin-right: auto;
}

.grow:hover {
    transform: scale(1.1);
}

.header {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    flex-shrink: 1;
    
    
    

}

.header_left {
    color: white;
    width: 33%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}





.header_buttons button {
    font-family: "Metropolis-Bold";
    font-size: 1.2rem;
    color: white;
    background-color: #DC1C2E;
    padding: 1rem 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.header_buttons button:hover {
    background-color: #bb0010;
}


.header_right {
    
    flex-shrink: 0;
}

.landing + h3 {
    text-align: center;
    margin-top: 1em;
}

.reviews {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.card {
    width: auto;
    color: rgb(105, 112, 122);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 0.35rem;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    font-family: "Metropolis-Light";
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.lift {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }

.lift:hover {
    transform: translateY(-0.3333333333rem);
    box-shadow: 0 0.5rem 2rem 0 rgba(33, 40, 50, 0.25);
 }

.lift:active {
    transform: none;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}

.card p {
    margin-top: 0;
  }

.lift {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }

.lift:hover {
    transform: translateY(-0.3333333333rem);
    box-shadow: 0 0.5rem 2rem 0 rgba(33, 40, 50, 0.25);
 }

.lift:active {
    transform: none;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}

.listing_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    gap: 2em;
}

.card img {
    max-width:fit-content;
}