@font-face {
  font-family: "Metropolis-SemiBold";
  src: url("/fonts/Metropolis-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis-RegularItalic";
  src: url("fonts/Metropolis-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis-Regular";
  src: url("fonts/Metropolis-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis-Medium";
  src: url("fonts/Metropolis-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis-Bold";
  src: url("fonts/Metropolis-Bold.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis-Extralight";
  src: url("fonts/Metropolis-ExtraLight.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis-Light";
  src: url("fonts/Metropolis-Light.otf");
  font-weight: 400;
  font-style: normal;
}

:root {
  box-sizing: border-box;
  font-family: "Metropolis-Regular";
}

ul {
  list-style: none;
  padding: 0;
}

.landing {
  height: 450px;
  background: linear-gradient(
      to bottom,
      rgb(7, 78, 154, 0.9),
      rgb(0, 0, 0, 0.8)
    ),
    url("images/header_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%); */
}

.container {
  min-width: 350px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 2.5%;
}

.nav {
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.nav a:link {
  color: white;
  text-decoration: none;
}

.nav a:active {
  color: #dc1c2e;
}

.nav a:visited {
  color: white;
}

.nav a:hover {
  text-decoration: underline;
}

.nav_left {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.nav_left a:hover {
  text-decoration: none;
}

[src="images/nav_logo.png"] {
  height: 50px;
  width: auto;
  padding-right: 10px;
}

.nav_left h2 {
  color: white;
  font-family: "Metropolis-Medium";
  font-size: 1.25rem;
  white-space: nowrap;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu {
  font-family: "Metropolis-Medium";
  color: white;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 1.1rem;
  word-spacing: -1px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

.menu li {
  padding-right: 8px;
  white-space: nowrap;
  cursor: pointer;
}

.grow {
  transition: transform 0.2s;
  margin-left: auto;
  margin-right: auto;
}

.grow:hover {
  transform: scale(1.1);
}

.header {
  padding-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  flex-shrink: 1;
  gap: 1rem;
}

.header_left {
  color: white;

  width: 40%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
}

.header_txt h1 {
  font-family: "Metropolis-Bold";
}

.header_txt h1 span {
  font-size: 2.15rem;
  color: rgb(220, 28, 47);
  vertical-align: top;
}

.ten_years {
  font-family: "Metropolis-Bold";
}

.header_buttons button {
  font-family: "Metropolis-Bold";
  font-size: 1.2rem;
  color: white;
  background-color: #dc1c2e;
  margin-top: 1.5rem;
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
}

.header_buttons button:hover {
  background-color: #bb0010;
}

.header_right {
  width: 60%;
}

img[src="images/main_logo.png"] {
  width: 100%;
  height: auto;
}

h2 {
  font-family: "Metropolis-Medium";
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;

  color: rgb(7, 78, 154);
}

h2.container {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 40px;
}

.reviews {
  margin-top: 20px;
  /* padding-top: 40px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
}

.reviews.container {
    padding: 10px 0 0 0;
}

.reviews.flex {
  display: flex;
  flex-direction: column;
}

.card {
  width: auto;
  color: rgb(105, 112, 122);
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(33, 40, 50, 0.125);
  border-radius: 0.35rem;
  /* padding-left: 1em;
    padding-right: 1em; */
  padding-bottom: 1em;
  font-family: "Metropolis-Light";
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lift {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.lift:hover {
  transform: translateY(-0.3333333333rem);
  box-shadow: 0 0.5rem 2rem 0 rgba(33, 40, 50, 0.25);
}

.lift:active {
  transform: none;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}

.card p:not(.listing_cards p) {
  margin-top: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.lift {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.lift:hover {
  transform: translateY(-0.3333333333rem);
  box-shadow: 0 0.5rem 2rem 0 rgba(33, 40, 50, 0.25);
}

.lift:active {
  transform: none;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}

.listings {
  padding-top: 20px;
}

.listings > h2 {
  text-align: center;
  padding-bottom: 20px;
}

.listing_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
}

.listing_img_cont {
  position: relative;
}

.listing_img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.sold {
  position: absolute;
  z-index: 2;
  /* left: 0px; */
  top: 0px;
  color: white;
  padding: 15px;
  margin: 0;
  background-color: rgba(255, 0, 0, 0.658);
  border-top-left-radius: 5px;
  font-family: "Metropolis-Bold";
  font-size: 2rem;
}

.listing_info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 5px;
}

.listing_info p {
  margin: 0.5rem;
}

.listing_info h2 {
  margin: 0.5rem;
}

.listing_info h3 {
  margin: 0.5rem;
  color: rgb(7, 78, 154);
}

.card > h3 {
  color: black;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.listing_cards h2 {
  color: rgb(7, 78, 154);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.listing_vid_iframe {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 40px;
  border-radius: 5px;
}

.iframe_cont {
  position: relative;
}

.main_iframe {
  border-radius: 5px;
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}

.footer {
  margin-top: 2rem;
  height: 200px;
  background: linear-gradient(to top, rgba(220, 28, 47, 0.9), rgb(0, 0, 0, 0.8)),
    url("images/web22-3.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer.secondary {
    height: 200px
}

img[src="images/footer_logo.png"] {
  max-height: 60%;
  max-width: 90%;
}

.secondary {
  height: 100px;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%); */
}

.landing_content {
  padding-top: 1.5rem;
}

.photo_grid_cont {
  padding-top: 0;
}

.table.container {
  padding-top: 20px;
}

.photo_grid_cont h2 {
  margin-top: 40px;
  text-align: center;
}

.photo_grid {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.photo_grid > li {
  flex-basis: 360px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

li a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li a p {
  color: white;
  font-family: "Metropolis-Medium";
  font-size: 2rem;
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 10px;
  background-color: rgb(7, 78, 154, 0.3);
  border-radius: 5px;
}

.grid_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(7, 78, 154, 0.8);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.photo_grid li:hover .overlay,
.photo_grid li:active .overlay {
  opacity: 1;
}

.ov_txt {
  color: white;
  font-size: 1.5rem;
  /* text-align: center; */
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.ov_txt a:link {
  color: white;
  text-decoration: none;
}

.ov_txt a:hover {
  color: #dc1c2e;
}

.ov_txt a:visited {
  color: white;
}

.ov_credit {
  color: white;
  font-size: 0.75rem;
  text-decoration: none;
}

.ov_credit p a:link {
  text-decoration: none;
  color: white;
}

.ov_credit p a:visited {
  text-decoration: none;
  color: white;
}

#photo_credits_list {
  font-size: 0.75rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

table {
  margin-left: auto;
  margin-right: auto;
  /* border-collapse: collapse; */
  border: 2px solid rgb(7, 78, 154, 0.9);
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 1rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  /* border-radius: 5px; */
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}

td:before {
  content: "$";
  float: left;
}

caption {
  font-family: "Metropolis-Bold";
  padding-bottom: 1rem;
}

.table_highlight {
  background-color: rgba(7, 78, 154, 0.514);
  font-family: "Metropolis-Bold";
}

.contact.container {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact_form {
  width: 50%;
  min-width: 350px;
}

.contact_form form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label,
fieldset {
  color: rgb(7, 78, 154);
  font-family: "Metropolis-Medium";
}

input {
  border: 1px solid rgb(105, 112, 122);
  border-style: inset;
  background-color: #f1f3f4;
  border-radius: 5px;
  height: 1.5rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: 4px solid rgb(7, 78, 154);
}

fieldset {
  border: 1px solid rgb(105, 112, 122);
  border-style: inset;
  background-color: #f1f3f4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}

textarea {
  border: 1px solid rgb(105, 112, 122);
  border-style: inset;
  background-color: #f1f3f4;
  border-radius: 5px;
}

.google_map {
  width: 50%;
}

.map_cont {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 350px;
  padding-top: 75%;
}

#google_map_iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-width: 350px;
  height: 100%;
}

@media (max-width: 931px) {
  .nav {
    justify-content: space-between;
  }
  .menu-button-container {
    display: flex;
    /* padding-right: 25px; */
  }
  .menu {
    position: absolute;
    top: 40px;
    margin-top: 50px;
    left: 0;
    gap: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    z-index: 1;
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgb(34, 34, 34, 0.98);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

@media (max-width: 765px) {
  .contact.container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .contact_form {
    width: 100%;
  }

  .google_map {
    width: 100%;
  }

  .contact_form form {
    width: 100%;
  }
}

@media (max-width: 718px) {
  .landing {
    height: 575px;
  }

  .landing.secondary {
    height: 100px;
  }

  .header {
    flex-direction: column;
  }

  .header_left {
    width: 85%;
    order: 1;
    align-items: center;
  }

  .header_txt h1 {
    text-align: center;
    margin-top: 0;
  }

  .header_right {
    width: 85%;
  }
}

@media (max-width: 569px) {
  .landing {
    height: 515px;
  }

  .landing.secondary {
    height: 100px;
  }

  .header_txt h1,
  .header_txt h1 span {
    font-size: 1.75rem;
  }
}

@media (max-width: 374px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .menu-button-container {
    padding-right: 10px;
  }
}
